$textRegular: "Raleway-Regular", sans-serif;
$textMedium: "Raleway-Medium", sans-serif;
$textBold: "Raleway-Bold", sans-serif;

$accentColor: #6E9C9F;
$colorAccentBack: #F1EADC;
$colorPrice: #998e78;
$colorPriceOld: #9c9c9c;
$colorActiveBread: #909090;