*, ::after, ::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
  padding: 0;
}

input {
  overflow: visible;
}

input, textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid currentColor;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=color] {
  background: inherit;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}

::-webkit-file-upload-button, ::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl, ol, ul {
  margin: 0;
}

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: "Raleway-Bold";
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: "Raleway-Medium";
  src: url(../fonts/Raleway-Medium.ttf);
}
.contacts__block-map {
  height: 476px;
  margin-bottom: 130px;
}
.contacts__map {
  height: 100%;
  border: 1px solid #ccc;
}
.contacts__info-block {
  display: flex;
  gap: 100px;
  margin-bottom: 130px;
}
.contacts__title-phone {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 17px;
  margin-bottom: 20px;
}
.contacts__title-email {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 17px;
  margin-bottom: 20px;
}
.contacts__title-address {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 17px;
  margin-bottom: 20px;
}
.contacts__phone {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 20px;
}
.contacts__email {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 20px;
}
.contacts__address {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 20px;
}
.contacts__wrapper-form {
  margin-bottom: 130px;
}

.wrapper-form__heading {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 25px;
  margin-bottom: 62px;
}
.wrapper-form__form-send {
  max-width: 443px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 62px;
}
.wrapper-form__form-sendinput::-moz-placeholder {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 17px;
  color: #909090;
}
.wrapper-form__form-sendinput::placeholder {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 17px;
  color: #909090;
}
.wrapper-form__status-send {
  color: #000000;
  font-family: "Raleway-Medium", sans-serif;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.02em;
  font-size: 17px;
  background-color: #F1EADC;
  max-width: 443px;
  padding: 30px 76px;
  height: 84px;
}

.form-send__name {
  max-width: 350px;
  height: 40px;
  border-bottom: 1px solid black;
}
.form-send__email {
  max-width: 350px;
  height: 40px;
  border-bottom: 1px solid black;
}
.form-send__phone {
  max-width: 350px;
  height: 40px;
  border-bottom: 1px solid black;
}
.form-send__message {
  height: 143px;
  border-bottom: 1px solid black;
}
.form-send__button {
  width: 190px;
  height: 68px;
  color: #000000;
  font-family: "Raleway-Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
  padding: 22px 50px;
  background-color: #6E9C9F;
  cursor: pointer;
}
.form-send__button:hover {
  background-color: #509498;
  transition: 0.3s ease-out;
}/*# sourceMappingURL=contacts.css.map */